-e git+https://github.com/tranhuucuong91/marathon-python#egg=marathon-master
-e git+https://github.com/tranhuucuong91/chronos-python#egg=chronos-master
django
psycopg2
python-dateutil
elasticsearch
apscheduler
