{% extends 'default/base.html' %}
{% load staticfiles %}
{% block title %}Template - List Template{% endblock %}
{% block heading %}Template - List template{% endblock %}
{% block script %}

{% endblock %}

{% block content %}
<div class="table-responsive" id="table-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th align="left">Id</th>
                <th style="text-align:left">Name</th>
                <th style="text-align:left">Type</th>
                <th style="text-align:center">Edit</th>
                <th style="text-align:center">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
            <tr>
              <td align="left">{{template.id}}</td>
              <td align="left">{{template.name}}</td>
              <td align="left">{{template.type}}</td>
              <td align="center"><a class="btn btn-success" href="{% url 'config_template:edit_template' template.id %}"><i class="fa fa-pencil-square-o"></i></a></td>
              <td align="center"><a class="btn btn-danger" href="{% url 'config_template:delete_template' template.id %}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
