    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th align="left">Name</th>
                <th style="text-align:right">CPU</th>
                <th style="text-align:right">Mem</th>
                <th style="text-align:right">Running</th>
                <th style="text-align:center">Start/Stop</th>
                <th style="text-align:center">Restart</th>
                <th style="text-align:center">Scale</th>
                <th style="text-align:center">Update</th>
                <th style="text-align:center">Destroy</th>
            </tr>
        </thead>
        <tbody>
            {% for app in apps %}
            <tr id="app-{{app.tag_id }}">
              <td align="left">{{app.id}}</td>
              <td align="right">{{app.cpus}}</td>
              <td align="right">{{app.mem}}</td>
              <td align="right">{{app.tasks_running}}</td>
              {% if app.tasks_running %}
              <td align="center"><button class="btn btn-primary btaction" data-id="{{app.id}}" data-action="stop" ><i class="fa fa-stop"></i></button></td>
              {% else %}
              <td align="center"><button class="btn btn-success btaction" data-id="{{app.id}}" data-action="start"><i class="fa fa-play"></i></button></td>
              {% endif %}
              <td align="center"><button class="btn btn-warning btaction" data-id="{{app.id}}" data-action="restart"><i class="fa fa-refresh"></i></button></td>

              <td align="center"><button class="btn btn-info" data-toggle="modal" data-target="#modal-{{app.tag_id }}" onclick="stop_refresh()"><i class="fa fa-arrows-h"></i></button></td>

              <td align="center"><button class="btn btn-info" data-toggle="modal" data-target="#modal-update-{{app.tag_id }}" onclick="stop_refresh()"><i class="fa fa-pencil-square-o"></i></button></td>


              <td align="center"><button class="btn btn-danger btaction" data-id="{{app.id}}" data-action="destroy"><i class="fa fa-trash-o"></i></button></td>

              <!-- Modal scale-->
              <div class="modal fade" id="modal-{{app.tag_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button onclick="start_refresh()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Number instance</h4>
                    </div>
                    <div class="modal-body">
                      <input type="number" class="form-control" id="ni-{{app.tag_id }}" value="{{app.tasks_running}}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" onclick="start_refresh()">Cancel</button>
                      <button type="button" class="btn btn-info btaction" data-dismiss="modal" data-id="{{app.id}}" data-action="scale">Scale</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal update-->
              <div class="modal fade" id="modal-update-{{app.tag_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button onclick="start_refresh()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Update {{app.id}}</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label>Cpus</label>
                        <input type="text" class="form-control" id="cpus-{{app.tag_id}}" value="{{app.cpus}}">
                      </div>
                      <div class="form-group">
                        <label>Mem</label>
                        <input type="text" class="form-control" id="mem-{{app.tag_id}}" value="{{app.cpus}}">
                      </div>
                      <div class="form-group">
                        <label>Version</label>
                        <input type="text" class="form-control" id="version-{{app.tag_id}}" value="{{app.container.docker.image}}">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" onclick="start_refresh()">Cancel</button>
                      <button type="button" class="btn btn-info btaction" data-dismiss="modal" data-id="{{app.id}}" data-action="update">Update</button>
                    </div>
                  </div>
                </div>
              </div>


            </tr>
            {% endfor %}

        </tbody>
    </table>
