{% extends 'default/base.html' %}
{% block title %}Marathon manage{% endblock %}
{% block heading %}Marathon - New {{type}}{% endblock %}
{% block content %}
<h3 style="padding-left:1em"> Choose template</h3>
{% if msg %}
<div style="width:80%; text-align:left; margin: 0 auto;">
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>{{result}}</p>
  <hr>
  <code>{{content}}</code>
  <br>
</div>
</div>
{% endif %}
<!-- Button trigger modal -->
{%for template in templates %}
<div class="col-md-2" >
  <button type="button" style="width:100%" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#template-{{template.id}}">
    {{template.name}}
  </button>
  <form method="post" action="#" enctype="multipart/form-data">
  <!-- Modal -->
  <div class="modal fade" id="template-{{template.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{template.name}}</h4>
        </div>
        <div class="modal-body container-fluid">
            <input type="hidden" value="{{template.id}}" name="template_id">
          {%for param in template.params %}
            {% if param.type == "text" %}
              <div class="form-group col-md-4">
                <label for="p-{{param.id}}" class="control-label">{{param.name}}</label>
                <input type="text" class="form-control" value="{{param.default}}" id="p-{{param.id}}" name="{{param.name}}">
              </div>
            {% elif param.type == "file" %}
            <div class="form-group col-md-4">
              <label for="p-{{param.id}}" data-toggle="tooltip" title="{{param.default}}">{{param.name}}</label>
              <input type="file" id="p-{{param.id}}" name="{{param.name}}">
            </div>
            <input type="hidden" name="filehidden-{{param.name}}" value="{{param.default}}">
            {% endif %}
          {% endfor %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>


{% endfor %}





{% endblock %}
