{% extends 'default/base.html' %}
{% block title %}Marathon manage{% endblock %}
{% block heading %}Marathon - List Applications{% endblock %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock %}
{% block topaction %}

{% endblock %}
{% block content %}
<div class="form-group form-inline clearfix" style="padding-right: 1em">
<form action="#" method="get" class="input-group pull-right">
  <input type="text" class="form-control" placeholder="Domain name">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Filter</button>
  </span>
</form >
</div>
<div class="table-responsive" id="table-list">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th align="left">ID Domain</th>
                <th style="text-align:left">Domain name</th>
                <th style="text-align:center">Disabled</th>
                <th style="text-align:center">Group ID</th>
                <th style="text-align:center">App ID</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in domains %}
            <tr>
              <td align="left">{{domain.id}}</td>
              <td align="left">{{domain.domain_name}}</td>
              <td align="center">{{domain.disabled}}</td>
              <td align="center">{{domain.group.id}}</td>
              <td align="center">{{domain.app.id}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}
