{% extends 'default/base.html' %}
{% block title %}Nginx Routing - List Domains{% endblock %}
{% block heading %}Nginx Routing - List Domains{% endblock %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock %}
{% block topaction %}

{% endblock %}
{% block content %}
<!--<div class="form-group form-inline clearfix" style="padding-right: 1em">-->
<!--<form action="#" method="get" class="input-group pull-right">-->
  <!--<input type="text" class="form-control" placeholder="Domain name">-->
  <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-default" type="button">Filter</button>-->
  <!--</span>-->
<!--</form >-->
<!--</div>-->
<div class="table-responsive" id="table-list">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="text-align:left">App ID</th>
                <th style="text-align:left">Domain Default</th>
                <th style="text-align:center">Group ID</th>
                <!--<th style="text-align:center">ID Domain</th>-->
                <th style="text-align:left">Domain Name</th>
                <th style="text-align:center">Disabled</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in domains %}
            <tr>
                <td align="left">{{domain.app.id}}</td>
                <td align="left">{{domain.app.domain_name}}</td>
                <td align="center">{{domain.group.id}}</td>
              <!--<td align="left">{{domain.id}}</td>-->
                <td align="left">{{domain.domain_name}}</td>
                <td align="center">{{domain.disabled}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}
